videos/*.mp4
videos/token.json
__pycache__
__pycache__/
/__pycache__/
/__pycache__
**/**/__pycache__/
*/__pycache__/*
__pycache__/*
videos/*_resized.mp4
*_resized.mp4
data_preparation/__pycache__/
ava_preparation/__pycache__/
model/__pycache__/
ava/.DS_Store
ava/videos/
ava/frames
ava/videos_15min/